{% extends 'base.html' %}

{% block title %}
{{ employee.name | title }}
{% endblock title %}


{% block body %}

<div class = "container">
    <h1>{{ employee.name }}</h1>
    <p>{{ employee.job_desc }} </p><br>
</div>
<div class = "container">
    <h3>Contact Info</h3>
    <p>Email: {{ employee.email }} </p><br>
</div>
<div class = "container">
    <h3>Personal Info</h3>
    <p>Age: {{ employee.age }} years </p>
    <p>Salary: <strong>${{employee.salary }} </strong></p>
</div>




{% endblock body %}